html{
    height: 100%;
}
#logo{
    height:100px;
    width: 200px;
}
.navbar-nav{
    font-size: 2.0em;
}
.col-md{
    color: #ffffff;
    background-color: Black;
    font-size: 1.9em;
    text-align: center;
}
a{
    color: white;
}
#main{
    height: 300px;
    width: 100%;
    text-align: center;
}
.d-block{

    height: 800px;
}
.marketi{
    height: 200px;
    width: 162px;

}
.carousel-caption{
    text-align: center;
    position: absolute;
   top:200px;
    font-size: 2.5em;
}
.carousel-caption h1{
    font-family: "Brush Script MT";
    font-size:1.5em;
    color: black;

}
.carousel-caption h2{
    font-family: "Brush Script MT";
    font-size: 1.2em;
    color: black;
}
.carousel-item img{
    opacity: 70%;
}
.best{
    margin-left: 20px;
    font-size: 1.5em;


}
#best-title{
    padding-left: 50px;

    font-size: 1.5em;
}
body{
    background-color: palegreen;
    height: 100%;

    padding-right: -5px;
}
.col-12 img{
    height: 100px;
    width: 150px;
}

.social a{
    font-size: 4.5em;
    padding: 2rem;

}
#celo{
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.col-xs-6{
    display: block;
    font-size: 4.5em;
    padding-top: -5px;
    padding-left: 10px;
    padding-right: 10px;


}

#contact{
    display: inline-block;
}
footer{
    height: max-content;
    background-color: black;
}
 footer p{
    color: white;
    font-size: 2.5em;
    margin-bottom: -20px;
    padding-left: 20px;

}
 #futer{
     margin-left: 0px;

 }
.fa-shopping-cart{
    color: white;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-left: 40px;

}
.fa-globe{
    color: white;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-left: 45px;
}
.fa-sign-in{
    color: white;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-left: 45px;
}



