<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <p th:if="${language}!='EN'">Контакт:</p>
    <p th:if="${language}=='EN'">Contact:</p>
    <div id="futer" class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://google.com"><i class="fab fa-google-plus-g"></i></a>
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
                <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>

</footer>
