<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
   
    <title th:if="${language}=='EN'" th:text="${category.getNameEN()}"></title>
    <title th:if="${language}!='EN'" th:text="${category.getName()}"></title>

</head>
<body>


    <div  th:if="${products.size()>0}">
    <div  th:if="${language}=='MK'" th:each="product : ${products}"  class="card" style="width: 18rem;" >
        <img class="card-img-top" th:src="${product.getImageUrl()}" >
        <div class="card-body">
            <h5 class="card-title" th:text="${product.getName()}">Card title</h5>
            <div class="card-body">
            <p  th:text="${product.getPrice()}+' ден.'"></p>
                <p th:text="${product.getMarket().getName()}"></p>
            </div>
            <a class="btn btn-primary" onclick="dodadi_vo_koshnichka()" th:href="@{'/add/{category}/{id}'(category=${category.getName()},id=${product.getId()})}">Додади во кошничка</a>
        </div>
    </div>
        <div  th:if="${products.size()>0}" >
            <div th:if="${language}!='MK'" th:each="product : ${products}"  class="card" style="width: 18rem;" >
                <img class="card-img-top" th:src="${product.getImageUrl()}" >
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.getNameEN()}"></h5>
                    <div class="card-body">
                        <p  th:text="${product.getPrice()}+' den.'"></p>
                        <p th:text="${product.getMarket().getNameEN()}"></p>
                    </div>
                    <a  th:if="${language}==MK" class="btn btn-primary" onclick="add_to_cart()" th:href="@{'/add/{category}/{id}'(category=${category.getName()},id=${product.getId()},language='MK')}">Додади во кошничка</a>

                    <a th:if="${language}!=MK"  class="btn btn-primary" onclick="add_to_cart()" th:href="@{'/add/{category}/{id}'(category=${category.getName()},id=${product.getId()},language='EN')}">Add to cart</a>
                </div>
            </div>
    </div>
</div>

    </div>
</div>

<script type="text/javascript">
    function add_to_cart(){
        alert("The product has been added to your shopping cart.");
    }
    function dodadi_vo_koshnichka(){
        alert("Продуктот е додаден во вашата кошничка.");


    }

</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>