<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title th:if="${language}=='EN'">Login</title>
    <title th:if="${language}=='MK'">Најави се</title>

    <style>


    </style>
</head>
<body>
<div id="login">
    <h3 th:if="${language}=='EN'" class="text-center text-white pt-5">Login</h3>
    <h3  th:if="${language}!='EN'"class="text-center text-white pt-5">Најави се</h3>

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" th:action="@{/login}" th:method="POST">
                        <h3 th:if="${language}=='EN'" class="text-center text-info">Login</h3>
                        <h3 th:if="${language}=='MK'"class="text-center text-info">Најави се</h3>

                        <div class="form-group">
                            <label th:if="${language}=='EN'" for="username" class="text-info">Username:</label>
                            <label th:if="${language}!='EN'" for="username" class="text-info">Корисничко име:</label>

                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label th:if="${language}=='EN'"for="password" class="text-info">Password:</label>
                            <label th:if="${language}=='MK'" for="password" class="text-info">Лозинка:</label>

                            <input type="password" name="password" id="password" class="form-control">


                        </div>
                        <div th:text="${error}" style="color:darkturquoise"></div>

                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                        <div class="form-group">
                            <a th:if="${language}!='EN'" th:href="@{/login?language=MK}"><i class="fa fa-globe" aria-hidden="true" style="background-color: turquoise"></i></a>
                            <a th:if="${language}=='EN'" th:href="@{/login?language=EN}"><i class="fa fa-globe" aria-hidden="true" style="background-color: turquoise"></i></a>
                        </div>


                        <div id="register-link" class="text-right">
                            <a  th:if="${language}=='EN'" href="/register?language='EN'" class="text-info">Register here</a>
                            <a th:if="${language}=='MK'" href="/register?language='MK'" class="text-info">Регистрирај се тука</a>
                            <a  th:if="${language}!='EN'" href="/login?language=EN" class="btn btn-primary">EN</a>
                            <a th:if="${language}=='EN'" href="/login?language=MK" class="btn btn-primary ">MK</a>


                        </div>
                    </form>
                </div>
            </div>
        </div>
<br>


</form>
    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>